<li id="post-<%= post._id %>">
    <% if(locals.user && locals.user.id==post.user.id){ %>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post._id %>">delete</a>
        </small>
        <% } %>
        <br>
        <br>

        <small>
         
         <% if (locals.user){ %>
             <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                     <%= post.likes.length %> <i class="fa-regular fa-thumbs-up"></i>
             </a>
         <% }else{ %>
             <%= post.likes.length %> <i class="fa-regular fa-thumbs-up"></i>
         <% } %>
     </small>
     
     <br>
     <br>   
<p>
    <%= post.content %>
    <br>
    <small>
       <%= post.user.name %> 

    </small>
</p>

<div class="post-comments">
  <%  if(locals.user) { %>
    <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
       <input type="text" name="content" placeholder="comment here..">
       <input type="hidden" name="post" value="<%= post._id %>">
       <button>Add comment</button>
    </form>
    <% } %>

   <div class="post-comments-list">
    <ul id="post-comments-<%= post._id %>">
       <% for(comment of post.comments){ %>
        <%- include('_comment') -%>

      <% } %>
    </ul>
   </div>

</div>

</li>
