<li id="post-<%= post._id %>" class="post-back" style="border-radius: 25px; padding: 25px 25px 5px 25px; margin-top:3% ; max-height: fit-content; max-width: 50vw;">
    <!-- <div style="margin: 50px 50px 0 0;"> -->
    <p style="margin-top: 0">
        <small style="margin-top: 500px;">
            <i class="fa-solid fa-user"></i>
            <i>
                 <b><%= post.user.name %> </b>
            </i>
            
     
         </small>
         <br>
         <br>
         <h5>
        <%= post.content %>
         </h5>
        <br>
        
    </p>
    <% if(locals.user && locals.user.id==post.user.id){ %>
        <div style="margin-left: 80%; margin-top: -5%; display: inline-block;">
        <small >
            <a class="delete-post-button" href="/posts/destroy/<%= post._id %>"><i class="fa-solid fa-trash" style="color: rgb(132, 38, 38); margin-top: 0;"> Delete Post </i></a>
            <!-- <a class="delete-post-button" href="/posts/destroy/<%= post._id %>"><i class="fa-sharp fa-solid fa-message-minus" style="color: rgb(132, 38, 38); margin-top: 0;"></i></a> -->

        </small>
    </div>
    <script>
         document.getElementById("post-<%= post._id %>").style.backgroundColor="aquamarine"
        //  document.getElementsByClassName('post-back').style.backgroundColor="red"
        </script>       
           
        <% } %>
    <% if(locals.user && locals.user.id!=post.user.id){ %>
        <script>
            document.getElementById("post-<%= post._id %>").style.backgroundColor="aliceblue"
           //  document.getElementsByClassName('post-back').style.backgroundColor="red"
           </script>
        <% } %>


        <br>
        <br>

        <small>
         
         <% if (locals.user){ %>
            <div style="margin-left: 80%; font-size: larger; ">
             <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                     <%= post.likes.length %> <i class="fa-regular fa-thumbs-up">  </i> Like
             </a>
            </div>
         <% }else{ %>
            <div style="margin-left: 80%; font-size: larger; margin-top: 0;">
             <%= post.likes.length %> <i  class="fa-regular fa-thumbs-up"> </i> Like
            </div>
         <% } %>
     </small>
     
     <br>
     <br>   


<div class="post-comments" style="margin-top: -10%;">
  <%  if(locals.user) { %>
    <form action="/comments/create" id="post-<%= post._id %>-comments-form" class="kjh" method="POST">
       <input type="text" name="content" placeholder="comment here..">
       <input type="hidden" name="post" value="<%= post._id %>">
       <button id="abcd">Add comment</button>
    </form>
    <% } %>

   <div class="post-comments-list">
    <ul id="post-comments-<%= post._id %>">
       <% for(comment of post.comments){ %>
        <!-- <h1>people</h1> -->
        <%- include('_comment') -%>

      <% } %>
    </ul>
   </div>

</div>

</li>

    

