<link rel="stylesheet" href="/css/user_profile.css">
<link rel="stylesheet" href="/css/home.css">
<h1>Codeial / <%=title %></h1>

<div id="home-container">
       
<section id="feed-post">
    <h4>posts</h4>
  <!-- for form visibility restriction only to signed in users -->
   <% if(locals.user){ %> 

    <form action="/posts/create" id="new-post-form" method="post">
       <textarea name="content" id="" cols="30" rows="3" placeholder="type here.." required></textarea>
       <button>submit</button>
    </form>
     <% } %>
    <div id="posts-list-container">
        <ul>
        <% for(post of posts){ %>
          <%- include('_post') -%>
            
          <% } %>
        </ul>
    </div>
</section>

  <section id="user-friends">
     <h4>Friends</h4>
    <% for(u of all_users){ %>
      <p>

        <a href="users/profile/<%= u.id %>"> <%= u.name %> </a>

      </p>  
    <% } %>
         
  </section>

       <%- include('_chat_box') -%>

</div>   
<!-- <script src="/js/home_post_comments.js"></script> -->

<script src="/js/home_posts.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>

<script src="/js/chat_engine.js"></script>

<% if(locals.user){ %>
  <script>
      new ChatEngine('user-chat-box','<%= locals.user.email %>','<%= locals.user.name %>');
  </script>
<% } %>

        